<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quansb.qbstore">
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
       android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_qs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.quansb.qbstore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.SettingActivity"
            >
        </activity>
        <activity android:name=".activity.RegisterActivity"
            >
        </activity>
        <activity android:name=".activity.OrderActivity"
            >
        </activity>
        <activity android:name=".activity.EvaluationActivity"
            />
        <activity android:name=".activity.TakeBackGoodsActivity"
            />
        <activity android:name=".activity.AfterSalesActivity"
            />
        <activity android:name=".activity.DeliverGoodsActivity"
            />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.PersonalInformationActivity" />
        <activity android:name=".activity.AddressManagementActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.NicknameActivity" />
        <activity android:name=".activity.AgeChangeActivity" />
        <activity android:name=".activity.ModifyHeadPictureActivity" />
        <activity android:name=".activity.homebanner.BannerJumpActivity" />
        <activity android:name=".activity.homeshopping.ReadyToSettle" />
        <activity android:name=".activity.homegoodspay.ConfirmAnOrderActivity" />
        <activity android:name=".activity.SelectAddressActivity" />
        <activity android:name=".activity.addaddress.AddAddressActivity" />

    </application>


</manifest>